.streak-circle.small {
    width: 90px;
    height: 90px;
    border-width: 4px;
}

.streak-circle.small #streak-count,
.streak-circle.small #timetable-streak-count {
    font-size: 1.8rem;
}

#timetable-streak-btn {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
#timetable-streak-btn:hover {
    background-color: #C87A66;
}
